# Install Pyspark

In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:5 https://cli.github.com/packages stable InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:7 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,575 kB]
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [5,369 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,546 kB]
Get:15 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,937 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [5,174 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,189 kB]
Get:18 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,233 kB]
Get:19 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,271 kB]
Get:20 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,781 kB]
Fetched 34.5 MB in 7s (4,673 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
62 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.11/dist-packages (0.10.9.7)

# Creating A DataFrame

In [ ]:
import datetime
from pyspark.sql import Row, SparkSession
import pandas as pd

# Initialize SparkSession
spark = SparkSession.builder.appName("UsersDataFrameExample").getOrCreate()

# List of user dictionaries
users = [
    {
        "id": 1,
        "first_name": "Rahul",
        "last_name": "Sharma",
        "email": "rahul.sharma@example.com",
        "phone_numbers": Row(mobile="+91 98765 43210", home="+91 98765 43211"),
        "courses": [101, 102],
        "is_customer": True,
        "amount_paid": 1500.75,
        "customer_from": datetime.date(2022, 5, 12),
        "last_updated_ts": datetime.datetime(2022, 6, 10, 9, 30, 0)
    },
    {
        "id": 2,
        "first_name": "Anita",
        "last_name": "Verma",
        "email": "anita.verma@example.net",
        "phone_numbers": Row(mobile="+91 87654 32109", home="+91 87654 32108"),
        "courses": [103],
        "is_customer": True,
        "amount_paid": 750.0,
        "customer_from": datetime.date(2022, 7, 23),
        "last_updated_ts": datetime.datetime(2022, 8, 5, 10, 45, 0)
    },
    {
        "id": 3,
        "first_name": "Sanjay",
        "last_name": "Patel",
        "email": "sanjay.patel@example.org",
        "phone_numbers": Row(mobile="+91 99887 66554", home="+91 99887 66553"),
        "courses": [102, 104],
        "is_customer": True,
        "amount_paid": 1200.99,
        "customer_from": datetime.date(2022, 9, 1),
        "last_updated_ts": datetime.datetime(2022, 10, 15, 11, 20, 55)
    },
    {
        "id": 4,
        "first_name": "Kavita",
        "last_name": "Iyer",
        "email": "kavita.iyer@example.biz",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2022, 11, 10, 14, 35, 30)
    },
    {
        "id": 5,
        "first_name": "Ravi",
        "last_name": "Nair",
        "email": "ravi.nair@example.co.in",
        "phone_numbers": Row(mobile="+91 91234 56789", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2022, 12, 2, 16, 15, 18)
    }
]

# Convert to Pandas DataFrame
users_pd_df = pd.DataFrame(users)

# Convert Pandas DataFrame to Spark DataFrame
users_df = spark.createDataFrame(users_pd_df)

# Show the DataFrame
users_df.show(truncate=False)

+---+----------+---------+------------------------+----------------------------------+----------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name|email                   |phone_numbers                     |courses   |is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+---------+------------------------+----------------------------------+----------+-----------+-----------+-------------+-------------------+
|1  |Rahul     |Sharma   |rahul.sharma@example.com|{+91 98765 43210, +91 98765 43211}|[101, 102]|true       |1500.75    |2022-05-12   |2022-06-10 09:30:00|
|2  |Anita     |Verma    |anita.verma@example.net |{+91 87654 32109, +91 87654 32108}|[103]     |true       |750.0      |2022-07-23   |2022-08-05 10:45:00|
|3  |Sanjay    |Patel    |sanjay.patel@example.org|{+91 99887 66554, +91 99887 66553}|[102, 104]|true       |1200.99    |2022-09-01   |2022-10-15 11:20:55|
|4  |Kavita    |Iyer     |kavita.iyer@example.biz |{NULL, NULL}                      |[]        |false      |NaN        |NULL         |2022-11-10 14:35:30|
|5  |Ravi      |Nair     |ravi.nair@example.co.in |{+91 91234 56789, NULL}           |[]        |false      |NaN        |NULL         |2022-12-02 16:15:18|
+---+----------+---------+------------------------+----------------------------------+----------+-----------+-----------+-------------+-------------------+

# Overview of Narrow and Wide Transformations




Let us get an overview of Narrow and Wide Transformations.

* Narrow transformations refer to operations where each output partition depends only on a small subset of the input partitions. There is no data movement or shuffling across partitions, making narrow transformations more efficient and faster since the data stays within the same partition.

* Characteristics of Narrow Transformations:

Data is processed within the same partition.
There is no shuffling or data transfer between nodes in the cluster.
It is computationally cheaper and more efficient compared to wide transformations.
Narrow transformations are applied on a per-row or per-record basis (row-level transformations).

  * `df.select`
  * `df.filter`
  * `df.withColumn`
  * `df.withColumnRenamed`
  * `df.drop`

* Wide transformations involve operations that trigger data shuffling between partitions. When a wide transformation is executed, the data is redistributed across different nodes in the cluster, as the output of one partition depends on the data from multiple input partitions. This can cause increased computational cost and data movement overhead.

  * `df.distinct`
  * `df.union` or any set operation
  * `df.join` or any join operation
  * `df.groupBy`
  * `df.sort` or `df.orderBy`
  
* Any function that result in shuffling is wide transformation. For all the wide transformations, we have to deal with group of records based on a key.

# Overview of Select on Spark Data Frame

In [ ]:
users_df.select('*').show()

+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|   courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+
|  1|     Rahul|   Sharma|rahul.sharma@exam...|{+91 98765 43210,...|[101, 102]|       true|    1500.75|   2022-05-12|2022-06-10 09:30:00|
|  2|     Anita|    Verma|anita.verma@examp...|{+91 87654 32109,...|     [103]|       true|      750.0|   2022-07-23|2022-08-05 10:45:00|
|  3|    Sanjay|    Patel|sanjay.patel@exam...|{+91 99887 66554,...|[102, 104]|       true|    1200.99|   2022-09-01|2022-10-15 11:20:55|
|  4|    Kavita|     Iyer|kavita.iyer@examp...|        {NULL, NULL}|        []|      false|        NaN|         NULL|2022-11-10 14:35:30|
|  5|      Ravi|     Nair|ravi.nair@example...|{+91 91234 56789,...|        []|      false|        NaN|         NULL|2022-12-02 16:15:18|
+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+

In [ ]:
# select colums id first_name and last_name
users_df.select('id','first_name','last_name').show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

In [ ]:
users_df.select(['id','first_name','last_name']).show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

In [ ]:
users_df.alias('u').select('u.*').show()

+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|   courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+
|  1|     Rahul|   Sharma|rahul.sharma@exam...|{+91 98765 43210,...|[101, 102]|       true|    1500.75|   2022-05-12|2022-06-10 09:30:00|
|  2|     Anita|    Verma|anita.verma@examp...|{+91 87654 32109,...|     [103]|       true|      750.0|   2022-07-23|2022-08-05 10:45:00|
|  3|    Sanjay|    Patel|sanjay.patel@exam...|{+91 99887 66554,...|[102, 104]|       true|    1200.99|   2022-09-01|2022-10-15 11:20:55|
|  4|    Kavita|     Iyer|kavita.iyer@examp...|        {NULL, NULL}|        []|      false|        NaN|         NULL|2022-11-10 14:35:30|
|  5|      Ravi|     Nair|ravi.nair@example...|{+91 91234 56789,...|        []|      false|        NaN|         NULL|2022-12-02 16:15:18|
+---+----------+---------+--------------------+--------------------+----------+-----------+-----------+-------------+-------------------+

In [ ]:
# Defining alias to the dataframe
users_df.alias('u').select('u.*').show()


# Working with functions col, concat, lit

In [ ]:
from pyspark.sql.functions import col, concat, lit

In [ ]:
users_df.select(
    col('id'),
    col('first_name'),
    col('last_name')
).show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

In [ ]:
# selectExpr

users_df.selectExpr(
    'id',
    'first_name',
    'last_name'
).show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

# Working with Columns

In [ ]:
users_df.select(col('id'),col('first_name'),col('last_name')).show()
users_df.select(users_df['id'],col('first_name'),col('last_name')).show()
users_df.select('id','first_name','last_name',concat(users_df['first_name'],lit('|'),col('last_name').alias('full_name'))).show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

+---+----------+---------+---------------------------------------------+
| id|first_name|last_name|concat(first_name, |, last_name AS full_name)|
+---+----------+---------+---------------------------------------------+
|  1|     Rahul|   Sharma|                                 Rahul|Sharma|
|  2|     Anita|    Verma|                                  Anita|Verma|
|  3|    Sanjay|    Patel|                                 Sanjay|Patel|
|  4|    Kavita|     Iyer|                                  Kavita|Iyer|
|  5|      Ravi|     Nair|                                    Ravi|Nair|
+---+----------+---------+---------------------------------------------+

In [ ]:
users_df.createOrReplaceTempView('users')

In [ ]:
spark.sql("""
select id,first_name,last_name from users""").show()

+---+----------+---------+
| id|first_name|last_name|
+---+----------+---------+
|  1|     Rahul|   Sharma|
|  2|     Anita|    Verma|
|  3|    Sanjay|    Patel|
|  4|    Kavita|     Iyer|
|  5|      Ravi|     Nair|
+---+----------+---------+

In [ ]:
users_df.select(col('id'),col('first_name'),col('last_name')).show()
users_df.select(users_df['id'], col('first_name'), 'last_name').show()

users_df. \
    select(
        'id', 'first_name', 'last_name',
        concat(users_df['first_name'], lit(', '), col('last_name')).alias('full_name')
    ). show()

users_df.createOrReplaceTempView('users')

spark.sql("""
    SELECT id, first_name, last_name
    from users

"""). show()



There are quite a few functions available on top of column type
* `cast` (can be used on all important data frame functions such as `select`, `filter`, `groupBy`, `orderBy`, etc)
* `asc`, `desc` (typically used as part of `sort` or `orderBy`)
* `contains` (typically used as part of `filter` or `where`)

In [ ]:
#cast
data = [("Alice", 25), ("Bob", 30), ("Catherine",45)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()
df2=df.select(col('Name'),col('Age').cast('int'))
df2.show()
df2.printSchema()

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 25|
|      Bob| 30|
|Catherine| 45|
+---------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

+---------+---+
|     Name|Age|
+---------+---+
|    Alice| 25|
|      Bob| 30|
|Catherine| 45|
+---------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:
from pyspark.sql.functions import date_format

users_df.select(
    col('id'),
    date_format('customer_from', 'yyyyMMdd')
).show()


users_df.select(
    col('id'),
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).show()


users_df.select(
    col('id'),
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).printSchema()

In [ ]:
# lit

data = [("Alice", 25), ("Bob", 30), ("Catherine", 45)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Add a constant column 'Country' with value 'USA' using lit() function
df_with_country = df.withColumn("Country", lit("USA"))

# Show the DataFrame with the new column
df_with_country.show()

# Column Rename

* We can rename column or expression using alias as part of select

* We can add or rename column or expression using withColumn on top of Data Frame

* We can rename one column at a time using withColumnRenamed on top of Data Frame.

* We typically use withColumn to perform row level transformations and then to
provide a name to the result. If we provide the same name as existing column, then the column will be replaced with new one.

* If we want to just rename the column then it is better to use withColumnRenamed.

* If we want to apply any transformation, we need to either use select or withColumn

* We can rename bunch of columns using toDF

In [ ]:
# Rename column or expression using alias as part of select:

data = [("Alice", 25), ("Bob", 30)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Renaming a column using alias as part of select
df_renamed = df.select(df["Name"].alias("FullName"), df["Age"])
df_renamed.show()

+--------+---+
|FullName|Age|
+--------+---+
|   Alice| 25|
|     Bob| 30|
+--------+---+

In [ ]:
# Add or rename column or expression using withColumn on top of DataFrame:

df_with_column =df_renamed.withColumn ("Country", lit("USA"))
df_with_column.show()

# Replacing the 'Age' column with a modified value (adding 1 to Age)
df_with_column_replaced = df_with_column.withColumn("Age", df_with_column["Age"] + 1)
df_with_column_replaced.show()

+--------+---+-------+
|FullName|Age|Country|
+--------+---+-------+
|   Alice| 25|    USA|
|     Bob| 30|    USA|
+--------+---+-------+

+--------+---+-------+
|FullName|Age|Country|
+--------+---+-------+
|   Alice| 26|    USA|
|     Bob| 31|    USA|
+--------+---+-------+

In [ ]:
#  Rename one column at a time using withColumnRenamed on top of DataFrame:

# Renaming the column 'Name' to 'FullName' using withColumnRenamed
df_with_renamed_column = df_with_column_replaced.withColumnRenamed("FullName", "Name")
#df_with_renamed_column.show()
df_with_renamed_column = df_with_column_replaced.withColumnRenamed("Country", "State")
#df_with_renamed_column.show()

df3=df_with_renamed_column.toDF("Name","years","country")
df3.show()

+-----+-----+-------+
| Name|years|country|
+-----+-----+-------+
|Alice|   26|    USA|
|  Bob|   31|    USA|
+-----+-----+-------+

In [ ]:
# drop

df4=df3.drop('country')
df4.show()

df5=df3.drop('country','years')
df5.show()

+-----+-----+
| Name|years|
+-----+-----+
|Alice|   26|
|  Bob|   31|
+-----+-----+

+-----+
| Name|
+-----+
|Alice|
|  Bob|
+-----+

In [ ]:
# Using withColumn to perform row-level transformations and replace an existing column:

df_transformed = df.withColumn("Age", df["Age"] * 2)
df_transformed.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 50|
|  Bob| 60|
+-----+---+

In [ ]:
# drop Duplicates, distinct
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "is_customer": True,
        "amount_paid": 1050.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 25, 3, 33, 0)
    }
]


import pandas as pd
users_df = spark.createDataFrame(pd.DataFrame(users))
users_df.show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         NULL|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [ ]:
# no.of rows
users_df.count()

8

In [ ]:
users_df.distinct().count()

6

In [ ]:
users_df.dropDuplicates(['id']).show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|      false|        NaN|         NULL|2021-04-02 00:55:18|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [ ]:
users_df.na.drop().show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|       true|     1050.0|   2021-02-14|2021-02-25 03:33:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+

In [ ]:
# Renaming multiple columns using toDF
df_renamed_toDF = df.toDF("FullName", "Years")

# Show the result
df_renamed_toDF.show()

+--------+-----+
|FullName|Years|
+--------+-----+
|   Alice|   25|
|     Bob|   30|
+--------+-----+

In [ ]:
df.na.drop(how='any')

NameError: name 'df' is not defined

In [ ]:
df.na.drop(how='all')

df.dropna(how='all')

In [ ]:
name                    age      city
ravi                    25        mumbai
sita                    null      delhi
 NULL                     30      null
 Nul                     null     null